<div class="flex gap-4">
    @for (exchange of exchangeModelList; track $index) {
    <div
        class="relative flex items-center justify-center drop-shadow-md rounded-xl bg-gray-600 w-60 h-32 cursor-pointer"
        [routerLink]="
            exchange?.getKey() === null
                ? [exchange.getExchangeUuid()]
                : [exchange.getExchangeUuid() + '/update']
        "
    >
        <div
            class="absolute top-0 left-0 rounded-ee-md text-sm px-2 py-1/2"
            [class]="{
                'bg-green-500': exchange.getName()?.toLowerCase() === 'bitkub',
                'bg-yellow-500':
                    exchange.getName()?.toLowerCase() === 'binance',
                'bg-gray-500': exchange.getName()?.toLowerCase() === 'okx'
            }"
        >
            {{ exchange.getName() }}
        </div>
        @if (exchange.getKey() === null) {
        <fa-icon
            [icon]="faPlusSquare"
            size="3x"
            [style.color]="'rgb(226 232 240)'"
        ></fa-icon>
        } @else {
        <fa-icon
            [icon]="faCheck"
            size="3x"
            [style.color]="'rgb(226 232 240)'"
        ></fa-icon>
        }
    </div>
    }
</div>
