/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100vh;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1)); // bg-gray-600
    color: rgb(226 232 240 / var(--tw-bg-opacity, 1)); // bg-slate-200
    background-image: linear-gradient(to bottom right,
            rgb(75 85 99 / var(--tw-bg-opacity, 1)),
            rgb(107 114 128 / var(--tw-bg-opacity, 1))); // bg-gray-500 to bg-gray-600
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mitr;
}